{% load staticfiles %}
<html>
        <head>
            <title>Subzero blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
            <div>
                <h1><a href="">Subzero Blog</a></h1>
            </div>
          {% for post in posts %}
            <div>
              <h1><a href="">{{ post.title }}</a></h1>
              <p>published: {{ post.fecha_publicacion }}</p>
              <p>{{ post.text|linebreaks }}</p>
            </div>
          {% endfor %}
        </body>
    </html>
